.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 20px;
  position: relative;
  
  @media (max-width: 768px) {
    padding: 30px 20px;
  }
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--color-accent);
  max-width: 1200px;
}

